body {
    margin: 0;
    background: #FFFFFF;
}

.article {
    position: relative;
    /* width: 1440px; */
    /* height: 800px; */
    margin: 0;
    background: #FFFFFF;
}

.buttonArticle {
    border-radius: 50px;
    background-color: white;
}

#foto {
    position: absolute;
    width: 396px;
    height: 396px;
    left: 178px;
    top: 215px;
    mix-blend-mode: normal; 
}

 .text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    left: 59px;
    top: 120px;
}


#paragraf {
    position: absolute;
    width: 538px;
    height: 447px;
    left: 664px;
    top: 316px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #000000; 
}
