html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    animation: fade-in 2s;
}


.navbar a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.navbar-dark .navbar-brand {
    margin-right: 35px;
}

div {
    word-wrap: break-word;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}

.custom-toggler .navbar-toggler-icon {
    align-content: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  }

.custom-toggler.navbar-toggler {
    border-color: rgb(200,200,200);
    border-width: 1.5px;;
} 

.landing{
    background: url("../images/skyscraper2.cb62a0757090.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
}

.landing p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    font-size: 6.5vw;
    padding: 100px;
    padding-bottom: 50px;
    padding-top: 220px;
    font-weight: 400;
}

.btn-lg {
    /* padding: 10px 16px;
    font-size: 18px; */
    line-height: 1.4;
    border-radius: 50px;
    width: 150px;
  }

.btn-sign {
/* padding: 10px 16px;
font-size: 18px; */
line-height: 1.4;
border-radius: 50px;
width: 100px;
}

.findyournext{
    height: 800px;
    padding-top: 250px;
}

.findyournext p{
    font-size: 1.9vw;
    font-weight: 150;
}

.findyournext h2{
    font-size: 2.1vw;
}

.bulet{
    border-radius: 40px;
}
.FAQ{
    height: 1100px;
}

.FAQ p{
    font-size: 1.5vw;
    font-weight: 150;
}

.FAQ h3{
    font-size: 2vw;
}

.choices{
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
}

.text_explore{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    padding-top: 70px;
    display: block;
    margin-bottom: 100px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explore{
    height: 900px;
    padding-left: 10vh;
    padding-right: 10vh;
}

.card{
    border-radius: 35px ;
}
/* .jobresult{
    height : 850px;
} */

.dark, .dark * {
    background-color: rgb(50, 50, 50);
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.darkhome{
    background-color: rgb(50, 50, 50);
}

.textdark, .textdark *{
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.switch {
    align-self: flex-end;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.inner-switch2 {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.inner-switch:hover{
    background: skyblue;
    color: black;
}

.inner-switch2:hover{
    background: skyblue;
    color: black;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}
