#accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:10px;
    width: 50%;
    margin-left:23%;
    margin-bottom: 5%;
    color: #black;
    border: 1px solid #black;
}
