<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
     <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"> 
     <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Article</title>
  </head>

<body>
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}


  {% block body %}

      <div class="container mt-2 p-2"> <h1 style="padding-top:200px; text-align:center;"> Upload Your Articles, {{ user.username }}! </h1>
        <a href="{% url 'article:article2' %}">
           <button type="button" class="btn btn-outline-dark btn-lg" style="margin-left:45%;">UPLOAD</button>
        </a>

        <div id="accordion" style="text-align: center; padding-top: 20px;">
            <h6>HOW DO YOU POST ARTICLES? Click here.</h6>
            <div>
                <p>
                You can simply click the "UPLOAD YOUR ARTICLES" button above this page.
                </p>
            </div>
    
            <h6>WHAT IS YOUR BENEFIT OF POSTING YOUR WRITING? Click here.</h6>
            <div>
                <p>
                You can improve your writing skills and get feedback from your readers.
                </p>
            </div>
        </div>

        <div class="row" id="article">
            {% for artikel in article  %}
            <div class="col-md-6 col-xl-4 product-parent mt-4 mb-4">
                <div class="card" style="border: 3px solid #0000;">
                   
                    <div class="card-body" style="border-top: 3px solid #5000;">
                        <p class='brand-barang'> Judul : {{ artikel.title }} </p>
                        <p class="nama-barang"> Isi : {{ artikel.paragraph }} </p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
    <div class="col-12 justify-content-center">
        <h1 class="d-flex justify-content-center" id="judul">Find your References!</h1>
    </div>

    
    <div class="search-container">
        <input type="text" placeholder="Search books..." name="search" id="searchbook" style="margin-left:42%;">
        <button type="submit"><i class="fa fa-search" id="button"></i></button>
    </div>

    <div class="table-responsive my-8 px-4 py-2">
        <table class="table table-active table-striped table_custom" id="table">

        </table>
    </div>

    <script src="{% static 'js/accordion.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/library.js' %}" type="text/javascript"></script>

  {% endblock body %}    
</body>
</html>