<!DOCTYPE html>
<html>
	<head>
	{% load static %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"> 
	<link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<title>Article</title>

</head>

<body>
	{% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}


  {% block body %}
	<div class="col-12 justify-content-center tengah2">
	<h1 class="d-flex justify-content-left">Upload Your Articles!</h1>
	<form method="POST" class="post-form">
		{% csrf_token %}
		{{ form.as_p }}
		<div class="text-center mt-4">
			<button type="submit" class="btn btn-outline-dark btn-lg">SUBMIT</button>
		</div>
	</form>
	</div>

     <p id="p2" style="text-align: center"> “You can always edit a bad page. You can’t edit a blank page.” <br>
		― Jodi Picoult <br>
		So, keep on writing! :)</p>
		
	<br>
	<br>

	<h4 style="text-align: center;">If you're tired of writing, just click here. Something entertaining will be shown. :) I hope this makes you feel better.</h4>

	<script src="{% static 'js/on.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/changecolor.js' %}" type="text/javascript"></script>

{% endblock body %}
</body>
</html>