<!DOCTYPE html>
<html>
{% load static %}
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

     <script>
        $(document).ready(function(){
          $("#p1").mouseup(function(){
            alert("Promote your event here.");
          });
        });
        </script>
</head>
<style>
    #toggle {
      width: 2000px;
      height: 100px;
      background: #ccc;
    }
    body{
      animation: fade-in 2s;
    }

    .navbar a{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .navbar-dark .navbar-brand {
        margin-right: 35px;
    }

    div {
        word-wrap: break-word;
    }

    .navbar-nav > li{
        margin-left:30px;
        margin-right:30px;
    }

    .custom-toggler .navbar-toggler-icon {
        align-content: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

      }

    .custom-toggler.navbar-toggler {
        border-color: rgb(200,200,200);
        border-width: 1.5px;;
    }

    @keyframes fade-in{
      from {opacity: 0;}
      to {opacity: 1;}
    }
    .event{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    padding-top: 70px;
    display: block;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body{
        animation: fade-in 2s;
    }

    .text{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
    }

    ol {
        list-style: none;
        display: block;
        padding-top: 20px;
    }
    ol li {
        width: 50px;
        height: 50px;
        background: #e59500;
        margin: 35px 0;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    ol li .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }
    @media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 50%;
    max-width: 100%; } }

    .carousel-multi-item-2 .card img {
    border-radius: 2px; 
    width:220px;
    height: 140px;}
    
    .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    }

    .actives, .accordion:hover {
      background-color: #ccc;
    }

</style>
<body>
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock navbar %}

    <h1 class="event" style="padding-top: 100px">UPCOMING EVENTS</h1>
    <p id="p1" style="text-align: center">Welcome, {{ user.username }}!</p>
    <p id="p1" style="text-align: center">Click here to get pop-up message!</p>
    {% csrf_token %}
    <div id="sched" >
        <div class="container-fluid">
            <div class="row" style="padding-top: 50px">
                <div class="col">
                    <a href="{% url 'event:sched_add' %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-icon btn-primary" style="float: right !important; margin-right: 10px; margin-bottom: 5px;">
                        <i class="fa fa-plus-circle"></i>
                    </button></a>
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Event Name</th>
                                <th>Event Description</th>
                                <th>Day</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th>RSVP</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in data %}
                            <tr>
                                <td>{{ obj.eventname }}</td>
                                <td>{{ obj.eventdesc }}</td>
                                <td>{{ obj.dates|date:"l" }}</td>
                                <td>{{ obj.dates }}</td>
                                <td>{{ obj.time }}</td>
                                <td>{{ obj.location }}</td>
                                <td>{{ obj.rsvp }}</td>
                                <td><a href="{% url 'event:sched_edit'  pk=obj.pk %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-icon btn-info"><i class="fa fa-keyboard"></i></button></a></td>
                                <td><a href="{% url 'event:sched_delete' pk=obj.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

                        <h4 style="padding-bottom: 20px">Here are some pictures of previous events...</h4>
                       
                        <div class="carousel-inner" role="listbox">
                      
                          <div class="carousel-item active">
                      
                            <div class="col-md-3 mb-3">
                              <div class="card">
                                <img class="img-fluid" src="{% static 'eventimages/jobfair1.jpg' %}"
                                  alt="Card image cap">
                                  <p style="text-align: center">JOB.in 2018</p>
                              </div>
                            </div>
                      
                            <div class="col-md-3 mb-3">
                              <div class="card">
                                <img class="img-fluid" src="{% static 'eventimages/jobfair2.jpg' %}"
                                  alt="Card image cap">
                                  <p style="text-align: center">Young Entrepreneurs 2018</p>
                              </div>
                            </div>
                          </div>
                          <!--/.First slide-->
                      
                          <!--Second slide-->
                          <div class="carousel-item">
                      
                            <div class="col-md-3 mb-3">
                              <div class="card">
                                <img class="img-fluid" src="{% static 'eventimages/jobfair3.jpg' %}"
                                  alt="Card image cap">
                                  <p style="text-align: center">STARSHIP 2019</p>
                              </div>
                            </div>
                      
                            <div class="col-md-3 mb-3">
                              <div class="card">
                                <img class="img-fluid" src="{% static 'eventimages/jobfair4.jpg' %}"
                                  alt="Card image cap">
                                  <p style="text-align: center">FindCorp 2019</p>
                              </div>
                            </div>
                          </div>
                          <!--/.Second slide-->
                      
                          <!--Third slide-->
                          <div class="carousel-item">
                      
                            <div class="col-md-3 mb-3">
                              <div class="card">
                                <img class="img-fluid" src="{% static 'eventimages/jobfair5.jpg' %}"
                                  alt="Card image cap">
                                  <p style="text-align: center">National JobFair 2018</p>
                              </div>
                            </div>
                      
                            <div class="col-md-3 mb-3">
                              <div class="card">
                                <img class="img-fluid" src="{% static 'eventimages/jobfair6.jpg' %}"
                                  alt="Card image cap">
                                  <p style="text-align: center">Beauty JobFair 2017</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div>
                      <button class="accordion"style="padding-top=50px"><h6 style="text-align=center">Best Company 2019</h6></button>
                      <div class="panel">
                          <p> Djarum
                            <br> Educare
                          </p>
                      </div>

                      <button class="accordion"><h6 style="text-align=center">Best Company 2018</h6></button>
                      <div class="panel">
                          <p> COMPFEST
                              <br> DPM Fasilkom
                          </p>
                      </div>
                      
                      <button class="accordion" ><h6 style="text-align=center">Best Company 2017</h6></button>
                      <div class="panel">
                          <p> GDPS Lab
                              <br> Gojek
                          </p>
                      </div>
                      </div>
                      <div style="padding-top:40px">
                      <input id='search_input' class="form-control" type="text" name="book" placeholder="Searching for books..." >
                      <div class="input-group-prepend">
                        <button class="input-group-text" id="search"><i class="fa fa-search text-white" ></i></button>
                      </div>
                      <div class="col-md-12 left">
                          <table id="table_book" class="table m-0">
                              <thead>
                                  <tr>
                                      <th>Title</th>
                                      <th>Author</th>
                                      <th class="center">Images</th>
                                  </tr>
                              </thead>
                              <tbody>
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="toggle">
                    <h3 style="text-align:center">Space for Advertisement . . .</h3><br>
                    <h10 style="text-align:center"> Please contact for more information. Please contact for more information. Please contact for more information. Please contact for more information. Please contact for more information.</h10>
                </div>
                <script>
                $( document ).click(function() {
                  $( "#toggle" ).toggle( "highlight" );
                });
                </script>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts_event.js' %}" type="text/javascript"></script>
  </body>
</html>