{% extends 'sarangkarir/base.html' %}
{% load static %}

{% block body %}
<div class="p-3">
    <a href="{% url 'homepage:index' %}">
        <img src="{% static 'images/LogoBlack.png' %}" alt="logo" style="width: 40px; height: 55px;" class="logoimg">
    </a>
    <div class="float-right">
        <a href="{% url 'homepage:index' %}"">
            <button type="button" class="btn btn-outline-dark btn-lg btn-find">Home</button>
        </a>
    </div>
</div>
<div class="text-center container">
  <h1 class="pt-5">Welcome to Sarangkarir Library {{ user.username }}</h1>
  <p>Recommended Keyword : Occupation</p>
  <div class="container mt-5">
    <form action="">
        <input id="myInput" class="form-control" type="search" placeholder="Search book here!">
    </form>
  </div>
  <div class="table-responsive mt-5">
      <table class=" table table-light table-hover">
            <thead class = "thead-dark">
            <tr class="text-center">
                <th scope="col" class="align-middle">No</th>
                <th scope="col" class="align-middle">Cover</th>
                <th scope="col" class="align-middle">Title</th>
                <th scope="col" class="align-middle">Authors</th>
                <th scope="col" class="align-middle">Publisher</th>
                <th scope="col" class="align-middle">Published Date</th>
                <th scope="col" class="align-middle">Categories</th>
            </tr>
        </thead>
        <tbody></tbody>
      </table>
  </div>
</div>
{% endblock %}