{% extends 'index1.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card p-5 text-center">
        <h1>Welcome to Your Dashboard, <span class="text-warning ">{{ user.username }}</span></h1>
        <a href="{% url 'accounts:home' %}" class="btn-outline-dark btn mt-5">Home</a>
    </div>
</div>
{% endblock %}

