<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SarangKarir</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'images/sarangkarir Logo.png' %}">
</head>
<body>
    {% block content %}
    <div class="p-3">
            <a href="{% url 'homepage:index' %}">
                <img src="{% static 'images/LogoBlack.png' %}" alt="logo" style="width: 40px; height: 55px;" class="logoimg">
            </a>
            <div class="float-right">
                <a href="{% url 'homepage:index' %}"">
                    <button type="button" class="btn btn-outline-dark btn-lg btn-find">Home</button>
                </a>
            </div>
        </div>
    <div class="container mt-3">
            <div class="text-center card p-5">
                <h1>User Login</h1>
                <form method="POST" class="mt-2">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn-outline-dark btn">Login</button>
                </form>
                <p class="mt-3">Don't have an account yet? register <a href="{% url 'accounts:register_url' %}">here</a></p>
            </div>
        </div>
    {% endblock %}
</body>
</html>