 {% extends 'index1.html' %}
{% load static %}
 {% block content %}
 <div class="p-3">
        <a href="{% url 'homepage:index' %}">
            <img src="{% static 'images/LogoBlack.png' %}" alt="logo" style="width: 40px; height: 55px;" class="logoimg">
        </a>
        <div class="float-right">
            <a href="{% url 'homepage:index' %}"">
                <button type="button" class="btn btn-outline-dark btn-lg btn-find">Home</button>
            </a>
        </div>
    </div>
 <div class="container mt-3">
    <div class="card p-5">
        <h1>Create New Account</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-dark">Register</button>
        </form>
    </div>
</div>
 {% endblock %}