{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center card p-5">
        <h1>User Login</h1>
        <form method="POST" class="mt-2">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-outline-dark btn">Login</button>
        </form>
        <p class="mt-3">Don't have an account yet? register <a href="{% url 'accounts:register_url' %}">here</a></p>
    </div>
</div>
{% endblock %}