 {% extends 'index.html' %}

 {% block content %}
 <div class="container mt-5">
    <div class="card p-5">
        <h1>Create New Account</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-dark">Register</button>
        </form>
    </div>
</div>
 {% endblock %}