{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'images/sarangkarir Logo.png' %}" alt="scratch" style="width:40px; height: 55px;">
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:index' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:preference' %}">Find</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'article:articles' %}">Article</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'event:event' %}">Jobfair</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'books:home' %}">Books</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
                    <h3 style="color: white;">Hello, {{ user.username }}</h3>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}">
                    <button type="button" class="btn btn-outline-light btn-sign">Sign Out</button>
                </a>
                {% else %}
                <a href="{% url 'accounts:login_url' %}">
                    <button type="button" class="btn btn-outline-light btn-sign">Sign In</button>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>