{% extends 'sarangkarir/base.html' %}
{% load static %}

{% block body %}
    <div class = "landing bg text-center">
        <p>Find Your Next Job With SarangKarir Right Now</p>
        <a href="{% url 'homepage:preference' %}">
            <button type="button" class="btn btn-outline-light btn-lg">Find Now</button>
        </a>
    </div>
    <div class="findyournext">
        <div class = "container">
            <div class="row">
                <div class="col-6 text-center p-2">
                    <img src="{% static 'images/anagram.png' %}" alt="find your nex job" style="width:40vw; padding-bottom: 48px;" class="text-center" id="anagram">
                    <a href="{% url 'homepage:preference' %}">
                        <button type="button" class="btn btn-outline-dark btn-lg btn-find">Find Now</button>
                    </a>
                </div>
                <div class="col-6 p-2">
                    <h2>Find your next job with Sarang Karir</h2>
                    <p>SarangKarir is a company that tries to help fulfill your need of job. Through this website, we offer you some of the jobs you might find interesting as the list of jobs displayed is based on your own job interest. Get your function and be a better you with us! </p>
                </div>
            </div>
        </div>
    </div> 
    <div class="FAQ">
        <div class="container bg-light p-5 bulet shadow container-FAQ">
            <div>
                <img src="{% static 'images/FAQ.png' %}" alt="FAQ" style="width: 70vw;">
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>1. How to find job matches in Sarang Karir?</h3>
                </div>
                <div class="col-6">
                    <p>Answer a few simple questions about your job preference. The SarangKarir Job Finder will search for jobs that match your criteria. Choose desired job and apply by dropping your CV here!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>2. What are the features provided by Sarang Karir?</h3>
                </div>
                <div class="col-6">
                    <p>There are some features that might help you easily get the informations that you need. They are the sign-in and sign-up requirements, job-related articles, forms of needed educational background, industry, skill, and wage, some jobs displayed after filtering by the previous forms, social medias, and feedback form.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>3. Whom should I contact if I’m interested to one particular job?</h3>
                </div>
                <div class="col-6">
                    <p>You can contact the ones who become the contact person for each job recommendation displayed. We have made sure that these contacts are easy to reach and responsive.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>4. What differs Sarang Karir if compared to other companies? </h3>
                </div>
                <div class="col-6">
                    <p>The way we sort the information based on your interest is what makes us different from other companies. We give you ONLY the job recommendations and articles that you would later find interesting.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>5. How does Sarang Karir do research for its data?</h3>
                </div>
                <div class="col-6">
                    <p>For our information data, we are doing a research and result from any IT or economy study done for Indonesia’s technology and economy growth recent condition. Thus, we can ensure that our data are valid.</p>
                </div>
            </div>
        </div>
    </div> 
    <!-- <div class="contain explore" id="explorejob">
        <h1 class="text_explore">EXPLORE THE JOBS</h1>

        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/businessman.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/businessman.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/doctor.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/doctor.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/engineer.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/engineer.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/gardener.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/gardener.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/meeting.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/meeting.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/programmer.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/programmer.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/publicspeaker.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/publicspeaker.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% static 'images/teacher.jpg' %}" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/teacher.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div> -->
    <div class="explorejobs">
        <div class="container pb-5">
            <h1 class="text_explore">EXPLORE THE JOBS</h1>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/teacher.jpg' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/publicspeaker.jpg' %}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/businessman.jpg' %}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/founder-startup.jpg' %}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/head-it.jpg' %}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/meeting.jpg' %}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/software-engineer.jpg' %}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/webdev.jpeg' %}" alt="Third slide">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center switch change justify-content-center pb-5 explorejobs">Dark mode:              
        <span class="inner-switch2">OFF</span>
    </div>
    
    
{% endblock body %}