{% extends 'sarangkarir/findjob.html' %}
{% load static %}

{% block body%}
<div class="p-3">
    <a href="{% url 'homepage:index' %}">
        <img src="{% static 'images/LogoBlack.png' %}" alt="logo" style="width: 40px; height: 55px;" class="logoimg">
    </a>
</div>
<div class="choices">
    <h1 class="text-center">CHOOSE YOUR PREFERENCES</h1>
    <!-- something -->
    <div class="d-flex justify-content-center">
        <form action="{% url 'homepage:preference' %}" method="POST" > {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark btn-lg btn-find">FIND</button>
            </div>
        </form>
    </div>
</div>
<div class="switch text-center mt-3">Dark mode:              
    <span class="inner-switch">OFF</span>
</div>

{% endblock body %}


